body {
	
}

textarea {
	width: 200px;
	height: 150px;
}

#question_model .ng-invalid label:last-of-type::after,
#welcome .ng-invalid .ng-invalid + span::after {
	content: 'REQUIRED';
	background-color: red;
}

.remove-option {
	color: red;
	font-weight: bold;
	cursor: pointer;
}

.review-entry-question {
	margin-top: 1.5em;
}

#question::before,
.review-entry-question::before {
	content: 'Q.';
	font-weight: bold;
}

.review-entry-response::before {
	content: 'Your response:';
	font-weight: bold;
	display: block;
}