<html ng-app="surveyengine">
	<head>
		<title>A Survey</title>
		<link rel="stylesheet" type="text/css" media="screen" href="index.css" />
		<script src="angular.min.js"></script>
		<script src="index.js"></script>
	</head>
	<body ng-controller="BodyController as BC">
		<h1>A Survey</h1>
		<div id="welcome" ng-show="BC.progress_current == -1">
			Welcome to Survey Builder. Add questions to the survey, then take the survey yourself.
			<br>
			<br>
			<form name="survey_builder" ng-submit="survey_builder.$valid && BC.addBuild()" novalidate>
				<label>
					Question
					<input type="text" ng-model="BC.building.question" required />
					<span></span>
				</label>
				<br>
				<label>
					Type
					<select ng-model="BC.building.type" ng-options="key as aOptName for (key, aOptName) in BC.buildTypeOptions" required ng-change="BC.buildTypeChanged()"></select>
					<span></span>
				</label>
				<input type="button" value="Add Option" ng-click="BC.addBuildOption()" ng-show="BC.building.type && BC.building.type != 'textarea'"/>
				<div ng-show="BC.building.type && BC.building.type != 'textarea'">
					<div ng-repeat="(aOptionKey, aOptionVal) in BC.building.options">
						<label>
							Option {{$index + 1}} <input type="text" ng-model="BC.building.options[aOptionKey]" class="build-option-entry" required>
							<span></span>
						</label>
						<span ng-show="BC.shouldShowDelBuildOpt()" class="remove-option" ng-click="BC.removeBuildOptionElement(aOptionKey)">Delete</span>
					</div>
				</div>
				<br>
				<input type="submit" value="Add Question to Survey" ng-disabled="!survey_builder.$valid"/>
			</form>
			<div ng-show="BC.progress_max > 0">
				This survey has {{BC.progress_max}} questions.
				<br>
				Click below to complete the building and start the survey.
				<br>
				<br>
				<button ng-click="BC.next()">
					Start Survey
				</button>
			</div>
		</div>
		<div id="question_model" ng-show="BC.progress_current >= 0 && BC.progress_current < BC.progress_max">
			<span id="progress">
				Question {{BC.progress_current + 1}} of {{BC.progress_max}}
			</span>
			<form id="response" name="responseForm" ng-submit="responseForm.$valid && BC.next()" novalidate>
				<input type="submit" ng-show="BC.progress_current <= BC.progress_max && responseForm.$valid" value="{{BC.getSubmitBtnText()}}" />
				<button type="button" id="previous" ng-click="BC.previous()" ng-show="BC.progress_current > 0 && !BC.in_review">Previous Question</button>
				<div id="question">{{BC.survey[BC.progress_current].question}}</div>
				<div id="reponse_radio" ng-show="BC.survey[BC.progress_current].type == 'radio'">
					<label ng-repeat="aEntry in BC.survey[BC.progress_current].options">
						<input type="radio" value="{{aEntry}}" ng-model="BC.survey[BC.progress_current].response"/>
						{{aEntry}}
					</label>
				</div>
				<div id="reponse_check" ng-show="BC.survey[BC.progress_current].type == 'check'">
					<label ng-repeat="aEntry in BC.survey[BC.progress_current].options">
						<input type="checkbox" ng-model="BC.survey[BC.progress_current].response[$index]" value="{{aEntry}}"/>
						{{aEntry}}
					</label>
				</div>
				<div id="reponse_dropdown" ng-show="BC.survey[BC.progress_current].type == 'dropdown'">
					<label>
						<select ng-options="aOptName for aOptName in BC.survey[BC.progress_current].options" ng-model="BC.survey[BC.progress_current].response" required></select>
					</label>
				</div>
				<div id="reponse_textarea" ng-show="BC.survey[BC.progress_current].type == 'textarea'">
					<label>
						<textarea ng-model="BC.survey[BC.progress_current].response" required></textarea>
					</label>
				</div>
				<div>responseForm is {{responseForm.$valid}}</div>
			</form>
		</div>
		<div id="review_model" ng-show="BC.progress_current == BC.progress_max">
			here ill show you all the questions and your repsponses to them, with a link to jump back to a question to change it
			<div ng-repeat="aEntry in BC.survey">
				<div class="review-entry-question">
					{{aEntry.question}}
				</div>
				<div class="review-entry-response">
					<div ng-show="aEntry.type != 'check'">
						{{aEntry.response}}
					</div>
					<div ng-show="aEntry.type == 'check'">
						<div ng-show="!BC.allCheckValuesFalse(aEntry.response) && aResponseBool" ng-repeat="(aResponseI, aResponseBool) in aEntry.response">
							{{aEntry.options[aResponseI]}}
						</div>
						{{BC.allCheckValuesFalse(aEntry.response) ? 'NO ITEMS CHECKED' : ''}}
					</div>
				</div>
				<button ng-click="BC.reviewQuestion($index)">
					Change Response for Question {{$index + 1}}
				</button>
			</div>
		</div>
	</body>
</html>